<div class="container">
    <div class="row top-buffer">
        <header>
            <h1 class="text-center">Projects</h1>
            <h2 class="text-center">Below you can find projects I have worked on for your reference</h2>
        </header>
    </div>
    <div class="bg-light p-5 rounded-sm m-3">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        3D Chocolate Printer
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="card" >
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="Assets\images\printer.png" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <h5 class="card-title">Oscar Eduardo Gonzalez Neira</h5>
                                        <p class="card-text">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        BSS FullStack - Claro Colombia Orchestration FW
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="card" >
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="Assets\images\printer.png" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <h5 class="card-title">Oscar Eduardo Gonzalez Neira</h5>
                                        <p class="card-text">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Massive Algorithm Service Registry cleaning thorugh REST API
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="card" >
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="Assets\images\printer.png" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <h5 class="card-title">Oscar Eduardo Gonzalez Neira</h5>
                                        <p class="card-text">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>